/* add home page styles here */

#countries {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.country {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: bisque;
}

img {
    width: 100%;
    border: 3px solid white;
    border-radius: 10%;
}

#planets {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.planet {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: bisque;
}

#signs {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    border-radius: 10px;
    background-image: url('/assets/background.png');
}

.sign {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(177, 151, 177);
    color: rgb(38, 61, 67);
    opacity: 90%;
}

.saying {
    font-style: italic;
}

.sign img {
    border: none;
    width: 80%;
}
